.certifications{
  padding:120px 10%;
}
.certifications h2{
  font-size:2.8rem;
  text-align:center;
}
.certs-grid{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:28px;
}
.cert-card{
  padding:30px;
  border-radius:14px;
  background:#020617;
  transition:transform .3s;
}
.cert-card:hover{
  transform:translateY(-6px);
}
