.nav{
  position:fixed;
  top:0;
  width:100%;
  padding:22px 10%;
  display:flex;
  justify-content:space-between;
  background:rgba(11,15,25,0.9);
  backdrop-filter:blur(12px);
  z-index:100;
}
.nav-links a{
  margin-left:28px;
  text-decoration:none;
  color:#cbd5f5;
  transition:0.3s;
  font-weight:500;
}
.nav-links a:hover{color:white}
.nav-brand{
  font-weight:bold;
  font-size:1.5rem;
  color:white;
}
.nav-toggle{
  display:none;
  flex-direction:column;
  cursor:pointer;
}