.projects{
  padding:120px 10%;
}
.projects h2{
  font-size:2.8rem;
  text-align:center;
}
.projects-grid{
  margin-top:40px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:28px;
}
.project-card{
  padding:30px;
  border-radius:14px;
  background:#020617;
  transition:all 0.4s;
  position:relative;
  overflow:hidden;
}
.project-card::after{
  content:"";
  position:absolute;
  top:0; left:0;
  width:100%;
  height:100%;
  background:rgba(37,99,235,0.1);
  transform:scale(0);
  transition:transform 0.5s;
  z-index:0;
}
.project-card:hover::after{
  transform:scale(1);
}
.project-card h3, .project-card p{
  position:relative;
  z-index:1;
}
.project-card h3{
  margin-bottom:10px;
}
.project-card p{
  color:#cbd5f5;
}
